<h1>Start a simulation</h1>

<% if @simulation.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@simulation.errors.count, "error") %> prohibited
      this simulation from being saved:
    </h2>
    <ul>
      <% @simulation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @simulation do |f| %>
  <%= f.fields_for :users, @simulation.users do |ff| %>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Role</th>
          <th>Search Strategy</th>
          <th>Social Strategy</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="simulation-table">
        <tr>
          <td>
            <%= ff.select 'role', options_for_select(%w(Producer Consumer)),
              { prompt: 'Role'  },
              class: 'c-select',
              required: true
            %>
          </td>
          <td>
            <%= ff.select 'search_strategy', options_for_select(Simulation::SEARCH_STRATEGIES),
              { prompt: 'Search strategy'  },
              class: 'c-select',
              required: true
            %>
          </td>
          <td>
            <%= ff.select 'social_strategy', options_for_select(Simulation::SOCIAL_STRATEGIES),
              { prompt: 'Social strategy'  },
              class: 'c-select',
              required: true
            %>
          </td>
          <td>
            <%= number_field_tag 'simulation[users_attributes][0][quantity]', '',
              placeholder: 1,
              min: 1,
              class: 'form-control simulation-quantity',
              required: true
            %>
          </td>
          <td>
            <button type="button" class="btn btn-danger simulation-delete-row" onclick="deleteRow(event)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="simulation-next-row">
      <a class="btn btn-secondary simulation-next-row-button">+</a>
    </div>
    <br/><br/>
  <% end %>
  <div class="simulation-buttons">
    <%= f.submit 'Start', class: 'btn btn-primary' %>
    <%= link_to 'Back', simulations_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
