<h1>Start a simulation</h1>

<% if @simulation.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@simulation.errors.count, "error") %> prohibited
      this simulation from being saved:
    </h2>
    <ul>
      <% @simulation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @simulation do |f| %>
  <%= f.fields_for :users, @simulation.users do |ff| %>
    <div data-define="{table: new SimulationTable(this)}" data-context="table">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Role</th>
            <th>Search Strategy</th>
            <th>Social Strategy</th>
            <th>Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="simulation_table">
          <tr id="row_1">
            <td>
              <%= ff.select 'role', options_for_select(%w(Producer Consumer)),
                { prompt: 'Role'  },
                class: 'c-select',
                required: true
              %>
            </td>
            <td>
              <%= ff.select 'search_strategy', options_for_select(Simulation::SEARCH_STRATEGIES),
                { prompt: 'Search strategy'  },
                class: 'c-select',
                required: true
              %>
            </td>
            <td>
              <%= ff.select 'social_strategy', options_for_select(Simulation::SOCIAL_STRATEGIES),
                { prompt: 'Social strategy'  },
                class: 'c-select',
                required: true
              %>
            </td>
            <td>
              <%= number_field_tag 'simulation[users_attributes][0][quantity]', '',
                placeholder: 1,
                min: 1,
                class: 'form-control simulation-quantity',
                required: true
              %>
            </td>
            <td>
              <%= button_tag 'Delete',
                type: 'button',
                id: 'delete_row_1',
                class: 'btn btn-danger simulation-delete-row disabled',
                data: { bind_event_click: 'deleteTableRow(this)' }
              %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= button_tag '+',
        type: 'button',
        class: 'btn btn-secondary simulation-next-row simulation-next-row-button',
        data: { bind_event_click: 'addTableRow()' }
      %>
    </div>
    <br/><br/>
  <% end %>
  <div class="simulation-buttons">
    <%= f.submit 'Start', class: 'btn btn-primary' %>
    <%= link_to 'Back', simulations_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
